{% extends "base.html" %}
{% load static %}


{% block title %}
About
{% endblock title %}


{% block body %}
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
          <p style="font-weight: 500;font-family: 'Courier 10 Pitch'">Welcome to Brian Bett Solutions, where passion meets proficiency in the world of Android and web development.
              <br>Founded with a vision to craft exceptional digital experiences,
              I am dedicated to transforming ideas into innovative solutions that drive success for businesses of all sizes.</p>
   <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../../project/static/asset/img/smo.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Android &amp; Website Developer.</h3>
          <p class="fst-italic">
            Your success is my success, and i am committed to going above and beyond to exceed your expectations.
              <br>Quality is at the heart of everything i do.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17th July 2004</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="">www.brianbett.com</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254782096965</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>brianbett@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelancing:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>I am driven by a passion for innovation and a love for problem-solving. From conceptualization to execution, i approach every project with creativity and enthusiasm, pushing boundaries and exploring new possibilities.
            <br> I possess the expertise and technical skills to tackle projects of any complexity. </p>
        </div>
      </div>

    </div>


{% endblock body %}




