{% extends "base.html" %}
{% block tittle %}Blog{% endblock tittle %}

{% block body %}
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p style="font-weight: 500;font-family: 'Courier 10 Pitch'">I understand that every business is unique, and i tailor my solutions to fit your specific needs and goals.
            <br>I also maintain open and transparent communication throughout the development process, keeping you informed every step of the way.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-android"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Android Development</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Custom Android app development tailored to clients' specific needs. <br>
          *Integration of advanced features such as GPS, push notifications, in-app purchases, etc. <br>
          *Maintenance and support services to keep applications up-to-date and running smoothly.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-webcam"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Web Development </a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Responsive web design and development to create websites that adapt to various devices and screen sizes.
            <br>*E-commerce solutions for building online stores with secure payment gateways and inventory management systems.
            <br>*Front-end development using HTML and CSS to build visually appealing and interactive user interfaces.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-card-heading"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Consultation and Strategy</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Consultation services to help clients refine their app or website ideas, identify key features, and create a development roadmap.
            <br>*Strategic planning to ensure that projects are executed efficiently, on time, and within budget constraints.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-telephone-inbound-fill"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Quality Assurance and Testing</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Comprehensive testing services to identify and fix bugs, ensure compatibility across devices and browsers, and optimize performance
            <br>*User acceptance testing (UAT) to gather feedback from real users and make necessary adjustments before launching the final product.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-sort-up"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Deployment and Support</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Assistance with deploying applications to app stores or web hosting platforms,
            including guidance on app store optimization (ASO) for maximum visibility.
            <br>*Ongoing maintenance and support services to address any issues, implement updates, and provide technical assistance post-launch.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-chat-square-quote"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Customization and Scalability</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Lastly but not the least, we offer tailor solutions to meet the unique needs and goals of each client.
            <br>*Regardless of the client's business scale we build scalable applications that can grow and evolve with the client's business.
          </p>
        </div>
      </div>

    </div>
  </section>

{% endblock body %} 
