{% extends "base.html" %}
{% block tittle %}Blog{% endblock tittle %}

{% block body %}
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Welcome to my Blog</h2>
       
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-android"></i></div>
          <h4 class="title"><a href="" style="text-decoration: underline">Android Development</a></h4>
          <p class="description" style="font-family: 'Liberation Serif';font-size: 17px">*Custom Android app development tailored to clients' specific needs. <br>
          *Integration of advanced features such as GPS, push notifications, in-app purchases, etc. <br>
          *Maintenance and support services to keep applications up-to-date and running smoothly.</p>
        </div>



      </div>

    </div>
  </section>

{% endblock body %} 
