{% extends "base.html" %}
{% load static %}


{% block title %}
contact
{% endblock title %}


{% block body %}

<section id="contact" class="contact" style="background-color: white">  
    <div class="container" >  

      <div class="section-title">
        <h2>Contact</h2>
        <p style="font-weight: 500;font-family: 'Courier 10 Pitch'; color:black;">Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box" style="background-color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 2C8.13 2 5 5.13 5 9c0 4.58 7 13 7 13s7-8.42 7-13c0-3.87-3.13-7-7-7z"></path>
            </svg>            <h3>My Address</h3>
            <p>Nairobi City ,Westlands 00100</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box" style="background-color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: white;">
              <path d="M18 2.5c.97 0 1.76.43 2.29 1.15.53.72.71 1.67.47 2.58-.1.31-.28.63-.5.89l-2.16 2.16v2.97h2.97c.23.77.34 1.5.34 2.16 0 3.5-2.82 6.32-6.32 6.32-3.5 0-6.32-2.82-6.32-6.32 0-.66.11-1.39.34-2.16h2.97v-2.97l-2.16-2.16c-.22-.22-.4-.48-.5-.79-.24-.9-.06-1.86.47-2.58.53-.72 1.32-1.15 2.29-1.15z"></path>
            </svg>
                        <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box" style="background-color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: white;">
              <path d="M22 12h-20"></path>
              <path d="M2 8l10 6 10-6"></path>
            </svg>
                        <h3>Email Me</h3>
            <p><a href="">brianbett312@gmail.com</a></p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box" style="background-color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: black;">
              <path d="M2 12c0-6 4-10 10-10s10 4 10 10-4 10-10 10S2 18 2 12z"></path>
              <circle cx="8" cy="10" r="1" fill="black"></circle>
              <circle cx="16" cy="10" r="1" fill="black"></circle>
              <path d="M10 16h4" stroke="black"></path>
              <path d="M15 22c0-1-2-1-2-1s-2 0-2 1" stroke="black"></path>
            </svg>
            
                        <h3>Call Me</h3>
            <p><a href="">+254735462380</a></p>
          </div>
        </div>
      </div>

      <div>

        {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong> {{message}} </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}    

      <form action={% url "contact" %} method="post" role="form" class="php-email-form mt-4" style="background-color: black">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name " required style="border-radius: 9px;background-color: transparent;border: solid">
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0" >
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email " required style="border-radius: 9px;background-color: transparent;border: solid">
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="number" class="form-control" name="num"  placeholder="phone Number " required style="border-radius: 9px;background-color: transparent;border: solid">
        </div>
        <div class="form-group mt-3">
          <textarea type="text" class="form-control" name="desc" rows="5" placeholder="How can i help you today? " required style="border-radius: 9px;background-color: transparent;border: solid"></textarea>
        </div>

       <br>
       <br>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

      </div>

    </div>
  </section>

{% endblock body %}






