{% extends "base.html" %}
{% load static %}


{% block title %}
resume
{% endblock title %}


{% block body %}

<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p style="font-weight: 500;font-family: 'Courier 10 Pitch'">Skilled Android and website developer with a year of hands-on experience in designing and developing mobile applications and websites.
          <br>Proven track record of delivering high-quality projects on time and within budget. Seeking an opportunity to leverage my expertise to contribute to innovative software solutions.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Brian Bett</h4>
            <p>Dynamic and results-oriented Android and website developer with good knowledge in building cutting-edge mobile applications and responsive web solutions.
              <br>Dedicated to staying updated with the latest industry trends and technologies to ensure the delivery of innovative solutions that exceed client expectations.
              <br>Strong problem-solving skills and a collaborative mindset, dedicated to driving impactful results through technology. </p>

          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>PRIMARY EDUCATION</h4>
            <h5>2008 to 2017</h5>
            <p>started schooling at OLIVES PRIMARY from 2008 to 2012 them moved to KECHEIYAT JUNIOR ACADEMY where i completed my primary education there  </p>
          </div>

          <div class="resume-item">
            <h4>SECONDARY EDUCATION</h4>
            <h5>2018  to 2022</h5>
            <p>studied at MOI SECONDARY SCHOOL </p>
          </div>

          <div class="resume-item">
            <h4>COLLEGE & INSTITUTE</h4>
            <h5>2022 to Present</h5>
            <p>Currently studding at PC KINYANJUI TECHNICAL INSTITUTE <br>
            studied at EMOBILLIS MOBILE TECHNOLOGY INSTITUTE </p>
          </div>

        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>TECHNICAL SKILLS </h4>
            <h5>2022 - Present</h5>
           <ol>
             <li style="font-family: 'Droid Sans Mono Dotted';font-weight: bold">Android Development</li>
  <ul>
      <li>Languages</li>
      <ol type="i">
          <li>KOTLIN</li>
          <li>JAVA</li>
      </ol>
      <li>Tools</li>
      <ol type="i">
          <li>Android Studio</li>
          <li>Android Emulator</li>
      </ol>
  </ul>

  <li style="font-family: 'Droid Sans Mono Dotted';font-weight: bold">Website Development</li>
  <ul>
      <li style="font-family:Raleway ;font-size: 20px;text-decoration: underline">Front End</li>
      <ol>
          <li>Languages</li>
        <ol type="i">
          <li>HTML</li>
          <li>CSS</li>
        </ol>
          <li>Framework</li>
        <ol>
          <li>Bootstrap</li>
        </ol>

      </ol>

      <li style="font-family:Raleway ;font-size: 20px;text-decoration: underline">Back End</li>
      <ol>
          <li>Languages</li>
           <ol type="i">
             <li>Python</li>
             <li>Javascript</li>
           </ol>
          <li>Framework</li>
           <ol>
             <li>Django</li>
           </ol>
      </ol>
    <div>
          <li style="font-family:Raleway ;font-size: 20px;text-decoration: underline">Tools</li>
            <ol type="i">
              <li>Pycharm Professional</li>
              <li>VS Code</li>
            </ol>
          </div>
  </ul>
           </ol>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock body %}






